@charset "UTF-8";
html, body, ul, ol {
  margin: 0px;
  padding: 0px;
}

/* Definición de variables */
/* mixin con argumentos (valores por defecto) */
/* Uso de variables  */
body {
  background-color: lightblue;
  color: red;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-overflow: hidden;
}

#contenedor {
  width: 680px;
}

h1 {
  color: green;
}

p {
  color: brown;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blueviolet;
  padding: 10px;
}

/*Uso de anidamiento*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  border: 15px solid orange;
  color: orange;
}
nav a {
  color: brown;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blueviolet;
  display: block;
  padding: 3px 30px;
  text-decoration: none;
}

div {
  border: 5px solid blue;
  color: blue;
}

p a {
  background-color: white;
  border: 3px solid orange;
  color: red;
}

.caja {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: yellow;
  border: 5px solid yellow;
  color: black;
}

.boton-simple, .boton-submit, .boton-alerta {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.boton-alerta {
  background-color: red;
}

.boton-submit {
  background-color: greenyellow;
  color: orangered;
}

/* Funciones en SASS */
/* cadenas (string) 
texto

"sdfds d AAfdfr 56 545 3 3345 $%$ 5resf"

"k"

" "

""

NULL

*/
div {
  /* "Arial" */
  /* Veamos el resultado con una condicional */
  font-family: Arial, Helvetica, sans-serif;
  /*Para obtener el índice de una subcadena*/
  /* 6 */
  /*Para insertar una subcadena en una cadena*/
  /*Para obtener la longitud de cadena*/
  /* 6 */
  /*Slice: para extraer una subcadena*/
  /* "la Pe" */
  /*Para convertir una cadena a mayúsculas/minúsculas */
  /* "HOLA A TODOS" */
  /* "hola a todos" */
  color: rgb(44, 156, 225);
}

p {
  /*Valor absoluto de un numero */
  /* 20 */
  /*Ceil: redondéo al entero superior */
  /* 16 */
  /*floor: redondéo al entero inferior*/
  /* 15 */
  /* Para comparar dos numeos*/
  /* true */
  /* true */
  /* false */
  /*máximo/mínimo*/
  /* 200 */
  /* 5 */
  color: rgb(5, 0, 200);
  /* Porcentaje */
  /*
      0, 1, 0.5, 0.25
  */
  /* 130 */
  /* 25 */
  /* 0.45683 */
  /* 0.9815 */
  /* 1 y 6 (inclusivo) */
  margin: 10px 40px 0;
  /*
  Mapas
  funciones sobre mapas
  bucles
  condicionales
  */
}