@charset "UTF-8";
body {
    background-color: #d6d2c4;
    color:#2A2740;
}
div {
    background-color: #bf5700;
}
h1 {
    background-color: #005f86;
    color: #9cadb7;
}

.formulario {
    background-color: #fffd84;
    color: #fc7c33;
}

#unico {
    color:red;
}

.texto-con-fondo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    letter-spacing: 10px;
    color: transparent;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("fondo.jpg");
    background-size: 70%;
}

#variante1 { /* Ejemplos que acompañan a ejemplo2.html */
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip:border-box;
}
#variante2 {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip:padding-box;
}
#variante3 {
    border: 10px dotted black;
    padding: 15px;
    background: lightblue;
    background-clip:content-box;
}