@import "estilo_extra";
/* Definición de variables */

$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

$una-variable: #77FF22;
$miFont: Helvetica, sans-serif;
$miColor: red;
$miFontSize: 22px;
$miWidth: 680px;

$txt: "ABCxyz";

@mixin nombre-cualquiera {
    color: brown;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blueviolet;
}

@mixin otro-mixin {

}

@mixin bordeador($coloreishon, $ancho) {
    border: $ancho solid $coloreishon;
    color: $coloreishon;
}

/* mixin con argumentos (valores por defecto) */
@mixin bordeador2($coloreishon: blue, $ancho: 2px) {
    border: $ancho solid $coloreishon;
    color: $coloreishon;
}

@mixin super_mixin($bgcolor: white, $color: black, $border-color: red, $ancho: 10px){
    background-color: $bgcolor;
    border: $ancho solid $border-color;
    color: $color;
}

@mixin estilizado-espacial {
    @include nombre-cualquiera;
    @include otro-mixin;
}

@mixin transformacion($propiedad){
    -webkit-transform: $propiedad;
    -ms-transform: $propiedad;
    transform: $propiedad;
}

/* Uso de variables  */
body {
    background-color: $bgcolor;
    color: $miColor;
    font-size: $miFontSize;
    font-family: $miFont;
    font: {
        size: $miFontSize;
        family: $miFont;
        weight: bold;
    }

    text: {
        align: center;
        transform: uppercase;
        overflow: hidden;
    }
}

#contenedor {
    width: $miWidth;
}

h1 {
    $miColor: green !global;
    $abc: 30px;
    color: $miColor;
}
p{
    @include nombre-cualquiera;
    padding: 10px;
}

/*Uso de anidamiento*/
nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        @include bordeador(orange, 15px);
    }
    a {
        @include nombre-cualquiera;
        display: block;
        padding: 3px 30px;
        text-decoration: none;
    }
}

div {
    @include bordeador($ancho: 5px, $coloreishon: blue);
    
}

p {
    a {
        @include super-mixin( $ancho: 3px, $color: red, $border-color:orange);
    }
}

.caja {
    @include transformacion(rotate(45deg));
    background-color: yellow;
    border: 5px solid yellow;
    color: black;
}

.boton-simple {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.boton-alerta {
    @extend .boton-simple;
    background-color: red;
}

.boton-submit {
    @extend .boton-simple;
    background-color: greenyellow;
    color: orangered;
}

/* Funciones en SASS */

/* cadenas (string) 
texto

"sdfds d AAfdfr 56 545 3 3345 $%$ 5resf"

"k"

" "

""

NULL

*/